body {
  margin: 0px;
  min-height: 100vh;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: black;
}
 
.router-link-active {
  text-decoration: none;
}

.el-drawer__body {
  padding: 0px !important;
}

.my-collapse {
  --el-fill-color-blank: #0000000;
  --el-border-color-lighter: #00000000;
}

em.keyword {
  color: rgb(242, 94, 143);
  font-style: normal;
}